language: python
python:
  - "3.10"

os: linux
dist: jammy  # Ubuntu 22.04

before_install:
  - sudo apt-get update
  - sudo apt-get install -y git zip unzip openjdk-17-jdk python3-pip autoconf libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev cmake libffi-dev libssl-dev wget

install:
  - pip install buildozer cython

before_script:
  # Принимаем лицензии Android
  - mkdir -p ~/.android/licenses
  - echo "24333f8a63b6825ea9c5514f83c2829b004d1fee" > ~/.android/licenses/android-sdk-license
  - echo "84831b9409646a918e30573bab4c9c91346d8abd" > ~/.android/licenses/android-sdk-preview-license
  - echo "d975f751698a77b662f1254ddbeed3901e976f5a" > ~/.android/licenses/android-sdk-license-5
  - echo "601085b94cd77f0b54ff86406957099ebe79c4d6" > ~/.android/licenses/android-go-sdk-license
  - echo "33b6a2b64607f11b759f320ef9dff34ae516ff70" > ~/.android/licenses/android-sdk-arm-dbt-license
  - echo "8403addf88ab4874007e1c1e80a0025de11b4b89" > ~/.android/licenses/android-sdk-license-3
  - echo "8933bad161af4178b1185d1a37fbf41ea5269c55" > ~/.android/licenses/android-sdk-preview-license-2
  - echo "d56f5187479451eabf01fb78af6dfcb131a6481e" > ~/.android/licenses/android-sdk-license-2
  - echo "79120722343a6a31496171f3e4a5b956fd7f3282" > ~/.android/licenses/android-sdk-license-4

script:
  - buildozer android debug

after_success:
  - ls -la bin/
  - find . -name "*.apk" -type f

deploy:
  provider: releases
  api_key: $GITHUB_TOKEN
  file_glob: true
  file: "bin/*.apk"
  skip_cleanup: true
  on:
    tags: true

